@{
    ViewData["Title"] = "Contacto";
}

<section class="nf-section">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-5">
                <h1 class="nf-section-title mb-3">Contacto & ubicación</h1>
                <p class="text-muted">
                    Escribinos por WhatsApp o mail para consultas especiales, cambios de turno
                    o servicios para grupos.
                </p>

                <ul class="list-unstyled nf-contact-list">
                    <li>
                        <span class="nf-contact-label">Teléfono / WhatsApp</span>
                        <span>@ViewBag.Phone</span>
                    </li>
                    <li>
                        <span class="nf-contact-label">Email</span>
                        <span>@ViewBag.Email</span>
                    </li>
                    <li>
                        <span class="nf-contact-label">Ciudad</span>
                        <span>@ViewBag.City</span>
                    </li>
                </ul>

                <p class="text-muted small">
                    * Podés agendar tu turno directamente desde la web creando tu usuario.
                </p>
            </div>
            <div class="col-md-7">
                <div class="nf-card nf-map-placeholder">
                    <p class="text-muted mb-2">Mapa</p>

                    <div class="ratio ratio-16x9">
                        @* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d209592.4558293991!2d-56.362285145880904!3d-34.834056176181164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f80ffc63bf7d3%3A0x6b321b2e355bec99!2sMontevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses!2suy!4v1765387759496!5m2!1ses!2suy"
                                style="border:0;"
                                allowfullscreen=""
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">
                        </iframe> *@

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26178.292757533938!2d-56.200348682232516!3d-34.89925667872407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f80ffc63bf7d3%3A0x6b321b2e355bec99!2sMontevideo%2C%20Departamento%20de%20Montevideo!5e0!3m2!1ses!2suy!4v1765388308688!5m2!1ses!2suy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
